@font-face {
  font-family: Roboto;
  src: url(./assets/fonts/Roboto.ttf);
}

body{
  background-color: #D4D4D4;
  margin:0 auto;
  font-family: Roboto,serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  outline:none;
}

li{
  list-style: none ;
  padding: 0 10px;
}

p {
  text-align: center;
  margin:0;
  word-wrap: break-word;
  width: 220px;
}

span{
  font-size: 14px;
}
